
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>thank you @ViewBag.name</h2>
                        <p>Your Message is successfully processsed and We Will Reply As fast As We Can</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->
   
</body>

</html>