@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureitems = locoptions.Value.SupportedUICultures.
        Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }
    ).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value} ";
}
<div title="@localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name ">

    <form id="selectlanguage" asp-controller="Home" asp-action="SetLanguage"
          asp-route-returnUrl="@returnUrl" method="post">
        <select name="culture"
                onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureitems">

        </select>
    </form>
</div>

