<br />
<br />
<br />
<body>
    <!-- section start -->
    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 collection-filter">
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block">
                            <!-- brand filter start -->
                            <div class="collection-mobile-back">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left"
                                       aria-hidden="true"></i> back
                                </span>
                            </div>
                            <div class="collection-collapse-block open">
                                <h3 class="collapse-block-title">Categories</h3>
                                <div class="collection-collapse-block-content">

                                    <div class="collection-brand-filter" id="Categories">
                                        

                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- silde-bar colleps block end here -->


                    </div>


                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="collection-product-wrapper">

                                        <div class="product-wrapper-grid">
                                            <div class="row margin-res" id="DivTemplate1">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section End -->

</body>
@section Scripts
{
    <script src="~/Modules/Helper.js"></script>
    <script src="~/Modules/JsProduct.js"></script>
    <script src="~/Modules/JsCategory.js"></script>
}

