<br />
<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>Thank you @ViewBag.first for you Review</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

</body>

</html>